# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.env

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/tfplan
terraform/*.tfvars

# Google credentials
application_default_credentials.json
*.json
